.custom-btn {
    display: flex;
    align-items: center;
    color: var(--clr-light);
    background-color: var(--clr-accent);
    border: none;
    padding: 0.5rem 1rem;
    &:hover {
        background-color: var(--blue-hover);
        cursor: pointer;
    }
}

.secondary-btn {
    border: 1px solid var(--clr-accent);
    background: none;
    color: var(--clr-accent);
    &:hover,
    &:hover path {
        color: var(--foreground);
    }
    path {
        color: var(--clr-accent);
    }
}

.custom-btn.icon-only {
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0 0.5rem;
    background: none;
    svg {
        color: var(--foreground);
    }
    &:hover {
        & svg > path {
            color: var(--clr-accent);
        }
    }
}
