.info-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(30%);
    svg {
        color: var(--foreground-secondary);
        margin-bottom: 3rem;
    }
    button {
        margin-top: 1rem;
    }
}

.info-page__message {
    margin: 1.5rem;
}
