.chart-container {
    width: 100%;
    max-width: 50rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    background-color: var(--background-secondary);
    border: 1px solid var(--clr-border);
    padding: 0.5rem;
}

@media (min-width: 40em) {
    .chart-container {
        display: block;
        padding: 1rem;
        flex-grow: 3;
    }
}

.chart-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 40em) {
    .chart-header {
        display: flex;
        justify-content: space-between;
    }
}
