.favourites-btn {
    flex-basis: 20%;
    & path {
        color: var(--clr-accent);
    }
    & svg {
        font-size: 1rem;
        margin-left: 0.75em;
    }
}

@media (min-width: 40em) {
    .favourites-btn {
        flex-basis: 10%;
        & svg {
            font-size: 1.5rem;
        }
    }
}
