.pie-chart-container {
    width: 100%;
    max-width: 30rem;
    margin: 2rem 0;
    padding: 0 1rem;
}

.pie-legend {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    & > div {
        display: flex;
        align-items: center;
    }
    .legend-dot {
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        margin: 0 0.5rem 0 1rem;
    }
}

.pie-slice {
    &:hover {
        stroke: var(--clr-accent) !important;
        cursor: pointer;
    }
    &.selected {
        stroke: var(--clr-accent) !important;
    }
}
