@import '../../css/helpers';

.asset-name {
    font-weight: 600;
    margin: 0.5em 0;
    &:hover {
        cursor: pointer;
    }
    img {
        margin-right: 0.75em;
        height: 20px;
        align-self: center;
    }
    & > div {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
}

@media (min-width: 40em) {
    .asset-name {
        img {
            height: 25px;
        }
        & > div {
            flex-direction: row;
            align-items: center;
            span {
                margin-right: 0.75em;
            }
        }
    }
}

.asset-price,
.asset-holdings {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: left;
    span:first-child {
        font-weight: 600;
    }
}

@media (min-width: 40em) {
    .asset-holdings,
    .asset-price {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        span:first-child {
            margin-right: 1em;
        }
    }
}

.asset-name,
.asset-price,
.asset-holdings {
    display: flex;
}

.asset-symbol {
    width: fit-content;
    font-size: 0.65rem;
    color: var(--foreground-secondary);
}

@media (min-width: 40em) {
    .asset-symbol {
        font-size: 1rem;
    }
}
