@import '../../css/helpers';

.navbar {
    display: flex;
    padding: 1rem 1.5rem;
    background-color: var(--background-secondary);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: 0;
    border-bottom: 1px solid var(--clr-border);
    .nav-button {
        & > svg {
            font-size: 1.5rem;
        }
    }
}

@media (min-width: 40em) {
    .navbar {
        padding: 0.5rem 2rem;
    }
}

.site-logo {
    cursor: pointer;
    color: var(--clr-accent);
    font-size: 2rem;
    font-weight: 600;
}

.nav-links {
    display: none;
    margin-left: 1rem;
    * a {
        &.active {
            color: var(--clr-accent);
        }
        &:hover {
            color: var(--clr-accent);
            cursor: pointer;
        }
    }
    & > * {
        margin-inline: 1.5rem;
    }
}

@media (min-width: 40em) {
    .nav-links {
        @include flexCenter();
    }
}

@media (min-width: 40em) {
    .hamburger {
        display: none;
    }
}

.dark-mode-toggle {
    display: none;
}

@media (min-width: 40em) {
    .dark-mode-toggle {
        display: block;
    }
}

.nav-content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 40em) {
    .nav-content {
        justify-content: space-between;
    }
}

.nav-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-btn {
    background: none;
    border: none;
}
