.asset-container {
    margin: 0;
    border: 1px solid var(--outline-grey);
    border-radius: 5px;
    padding: 0 20px;
    background-color: #fff;
    &:not(:first-child):not(.styleXL) {
        border-top: 1px solid #fff;
    }
    &.styleXL {
        margin: 50px;
        height: fit-content;
        padding: 20px;
        background: linear-gradient(to top, var(--outline-grey) 0%, rgba(248, 250, 253, 0) 414px);
    }
}

.asset-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 1.5rem;
}

.asset-title {
    display: flex;
    align-items: center;
    font-weight: 600;
    &:hover {
        cursor: pointer;
    }
    img {
        margin-right: 10px;
        height: 30px;
    }
}

.current-price {
    font-weight: 300;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    span {
        font-weight: 600;
        margin-right: 15px;
    }
}

.asset-symbol {
    margin: 0 10px 0 20px;
    background-color: var(--outline-grey);
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    color: var(--grey);
}

.price-change {
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    font-size: 1rem;
    &.positive {
        background-color: var(--up);
    }
    &.negative {
        background-color: var(--down);
    }
}

/* xl style */

.styleXL {
    .asset-header {
        font-size: 2rem;
    }
    .asset-title {
        &:hover {
            cursor: unset;
        }
        img {
            height: unset;
        }
    }
    .current-price {
        font-size: 1.75rem;
    }
    .asset-symbol,
    .price-change {
        font-size: 1.25rem;
    }
}
