.asset-view__header {
    display: flex;
    font-size: 1.5rem;
    & > div {
        margin: 0.75em 0;
        flex-basis: 100%;
    }
    & .asset-price {
        font-size: 1rem;
    }
    & .asset-symbol,
    & .value-change {
        font-size: 0.8rem;
    }
}

@media (min-width: 40em) {
    .asset-view__header {
        font-size: 2rem;
        & .asset-name {
            &:hover {
                cursor: unset;
                color: unset;
            }
            & img {
                height: 5rem;
            }
        }
        & .asset-price {
            font-size: 1.75rem;
        }
        & .asset-symbol,
        & .value-change {
            font-size: 1.25rem;
        }
    }
}

.asset-view__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > div {
        margin: 1rem;
    }
}

@media (min-width: 40em) {
    .asset-view__content {
        justify-content: center;
        flex-flow: row wrap;
    }
}

.asset-view__stats {
    width: 100%;
    max-width: 50rem;
    flex-grow: 1;
    align-items: center;
    & > div {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        & > h4 {
            color: var(--foreground-secondary);
            font-weight: 500;
        }
    }
}

@media (min-width: 40em) {
    .asset-view__stats {
        width: unset;
    }
}
