@import './helpers';

.asset-list {
    min-width: 290px;
    background-color: var(--clr-primary);
}

.asset-container {
    margin: 0;
    padding: 0 1rem;
    // &:not(:first-child):not(.styleXL) {
    //     border-top: 1px solid var(--clr-primary);
    // }
    &.styleXL {
        padding: 0;
        height: fit-content;
    }
}

.asset-header {
    & > * {
        margin: 0.75em 0;
        flex-basis: 100%;
    }
    & > button {
        font-size: 1rem;
        margin-left: 0.75em;
        background: none;
        flex-basis: 20%;
        border: none;
        padding: 0;
        cursor: pointer;
        & path {
            color: var(--clr-accent);
        }
    }
}

@media (min-width: 40em) {
    .asset-header {
        & > button {
            flex-basis: 10%;
            font-size: 1.5rem;
        }
    }
}

.asset-title {
    font-weight: 600;
    &:hover {
        cursor: pointer;
    }
    img {
        margin-right: 0.75em;
        height: 30px;
    }
    & > div {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
}

@media (min-width: 40em) {
    .asset-title {
        & > div {
            flex-direction: row;
            align-items: center;
            span {
                margin-right: 0.75em;
            }
        }
    }
}

.asset-mcap {
    text-align: right;
    display: none;
}

@media (min-width: 40em) {
    .asset-mcap {
        display: block;
    }
}

div.current-price {
    flex-direction: column;
    align-items: flex-end;
    span {
        font-weight: 600;
    }
}

@media (min-width: 40em) {
    div.current-price {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        span {
            margin-right: 1em;
        }
    }
}

.asset-header,
.asset-title,
.current-price {
    @include flexCenter();
}

.asset-symbol {
    width: fit-content;
    font-size: 0.65rem;
    color: var(--foreground-secondary);
}

@media (min-width: 40em) {
    .asset-symbol {
        font-size: 1rem;
    }
}

.price-change {
    color: var(--foreground-secondary);
    display: flex;
    align-items: center;
    font-size: 0.65rem;
    p {
        margin-left: 5px;
    }
}

@media (min-width: 40em) {
    .price-change {
        font-size: 1rem;
    }
}

.positive {
    path {
        color: var(--up);
    }
}

.negative {
    path {
        color: var(--down);
    }
}

/* xl style */
.styleXL {
    .asset-header {
        font-size: 1.2rem;
    }
    .current-price {
        font-size: 1rem;
    }
    .asset-symbol,
    .price-change {
        font-size: 0.8rem;
    }
}

@media (min-width: 40em) {
    .styleXL {
        .asset-header {
            font-size: 2rem;
        }
        .asset-title {
            &:hover {
                cursor: unset;
            }
            img {
                height: unset;
            }
        }
        .current-price {
            font-size: 1.75rem;
        }
        .asset-symbol,
        .price-change {
            font-size: 1.25rem;
        }
    }
}

.asset-market-stats {
    display: grid;
    margin-top: 1rem;
    align-items: center;
    & > div {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > h4 {
            color: var(--foreground-secondary);
        }
    }
}

@media (min-width: 40em) {
    .asset-market-stats {
        grid-template-columns: 50% 50%;
    }
}
