button {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 4px;
    padding: 8px 24px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin: 0 10px;
    &:hover {
        background-color: var(--blue-hover);
    }
    svg {
        color: #fff;
    }
}

.secondary-btn {
    background: none;
    color: var(--blue);
    &:hover,
    &:hover path {
        color: #fff;
    }
    path {
        color: var(--blue);
    }
}
