button {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 4px;
    padding: 8px 24px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin: 0 10px;
}

button svg {
    color: #fff;
}

button:hover {
    background-color: var(--blue-hover);
}

.secondary-btn {
    background: none;
    color: var(--blue);
}

.secondary-btn:hover,
.secondary-btn:hover path {
    color: #fff;
}

.secondary-btn path {
    color: var(--blue);
}
