.info-page {
    text-align: center;
    transform: translateY(50%);
    svg {
        color: var(--foreground-secondary);
        margin-bottom: 20px;
    }
}

.info-page__message {
    margin: 20px;
}
