.search-page {
    text-align: center;
    margin: 0 10%;
}

.search-field {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.search-field > input {
    width: 50%;
    line-height: 1.15;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--light-grey);
}
