@import './helpers';

.navbar {
    display: flex;
    padding: 1.2rem;
    border-bottom: 1px solid var(--outline-grey);
    background-color: #fff;
    flex-direction: column;
    & > * {
        flex-basis: 100%;
        justify-content: center;
    }
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

@media (min-width: 40em) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
}

.site-logo {
    cursor: pointer;
    color: var(--blue);
    font-weight: 600;
}

.nav-container {
    @include flexCenter();
    & > * {
        margin-inline: 1.5rem;
    }
}

.nav-btn {
    display: inline-block;
    text-align: right;
    &:hover {
        color: var(--blue);
        cursor: pointer;
        text-decoration: underline;
    }
}

.search-container {
    margin-top: 1.5rem;
    max-width: 30rem;
    margin-inline: 1.5rem;
}

@media (min-width: 40em) {
    .search-container {
        margin-top: 0;
    }
}
