.navbar {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--outline-grey);
    margin-bottom: 10px;
    background-color: #fff;
}

.site-logo {
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    margin-right: 30px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-btn {
    margin-right: 2rem;
    display: inline-block;
    &:hover {
        color: var(--blue);
        cursor: pointer;
        text-decoration: underline;
    }
}

.page-title {
    font-size: 2rem;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 10px;
}

.search-container {
    width: 300px;
}
