.search-result {
    margin: 50px 0;
    height: 500px;
    border: 1px solid var(--outline-grey);
    border-radius: 5px;
    padding: 20px;
    background: linear-gradient(to top, var(--outline-grey) 0%, rgba(248, 250, 253, 0) 414px);
}

.result-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 2rem;
}
