.asset-container {
    margin: 0;
    border: 1px solid var(--outline-grey);
    border-radius: 5px;
    padding: 0 20px;
    background-color: #fff;
}

.user-list .asset-container:not(:first-child) {
    border-top: 1px solid #fff;
}

.asset-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 1.5rem;
}

.user-list .asset-symbol,
.user-list .price-change {
    font-size: 1rem;
}

.user-list .current-price {
    font-size: 1.25rem;
    align-items: center;
}
