:root {
    --blue: #0a46e4;
    --blue-hover: rgba(10, 70, 228, 0.9);
    --black: #222531;
    --grey: #656b7a;
    --light-grey: #999eaa;
    --outline-grey: #dee1eb;
    --up: #16c784;
    --down: #ea3943;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    box-sizing: border-box;
}

body {
    background-color: rgba(10, 70, 228, 0.02);
    line-height: 1.6;
    font-size: 0.9rem;
}

@media (min-width: 40em) {
    body {
        font-size: 1.2rem;
    }
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

h1,
h2,
h3 {
    line-height: 1;
}

h2 {
    text-align: center;
}

p {
    display: inline-block;
}

.container {
    text-align: center;
    margin-inline: auto;
    width: 90%;
    max-width: 100rem;
}

.page-title {
    margin: 1em 0;
    font-weight: 600;
}

.error-message {
    color: var(--down);
    margin: 20px 0;
}
