:root {
    --blue: #0a46e4;
    --blue-hover: rgba(10, 70, 228, 0.9);
    --tal-green: #01c4b3;
    --grey: #656b7a;
    --light-grey: #999eaa;
    --outline-grey: #dee1eb;
    --up: #16c784;
    --down: #ea3943;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(10, 70, 228, 0.02);
}

h2 {
    text-align: center;
}

.error-message {
    color: var(--down);
    margin: 20px 0;
}
