:root {
    --blue-hover: rgba(10, 70, 228, 0.9);
    --up: #16c784;
    --down: #ea3943;

    --clr-light: #eeeeee;
    --clr-accent: #0a46e4;
    --clr-border: #d8dee4;

    --foreground: #0d1117;
    --foreground-secondary: #666;
    --background: #f6f8fa;
    --background-secondary: #fff;

    font-size: 12px;
}

@media (min-width: 30em) {
    :root {
        font-size: 16px;
    }
}

.dark-theme {
    --clr-accent: #678fff;
    --clr-border: #21262d;

    --foreground: var(--clr-light);
    --foreground-secondary: #cccccc;
    --background: #010409;
    --background-secondary: #0d1117;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border-radius: 4px;
}

body {
    color: var(--foreground);
    background-color: var(--background);
    line-height: 1.6;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    line-height: 1;
}

h2 {
    text-align: center;
}

p {
    display: inline-block;
}

a {
    text-decoration: none;
    color: var(--foreground);
}

button {
    color: var(--foreground);
    background: none;
    border: none;
    &:hover {
        cursor: pointer;
    }
}

input {
    color: var(--foreground);
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    text-align: center;
    margin-inline: auto;
    padding-top: 1rem;
    width: 90%;
    max-width: 80rem;
}

.page-title {
    margin: 1em 0;
    font-weight: 600;
}

.page-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem 0;
    & > .title {
        flex-basis: 98%;
        margin-left: 2rem;
    }
    & > button {
        flex-basis: 2%;
        border: none;
        &:hover {
            color: var(--clr-accent);
        }
    }
}

.error-message {
    color: var(--down);
    margin: 20px 0;
}

.change-currency {
    &:hover {
        color: var(--clr-accent);
    }
}

.foreground-panel {
    background-color: var(--background-secondary);
    border: 1px solid var(--clr-border);
    padding: 1rem;
    & header {
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 0.5rem 0.5rem 1rem;
        color: var(--foreground);
        & > h3 {
            text-align: left;
            font-weight: 600;
            font-size: 1.25rem;
        }
        & > svg {
            margin-right: 1rem;
            font-size: 1.5rem;
            color: var(--clr-accent);
        }
    }
}
