:root {
    --blue-hover: rgba(10, 70, 228, 0.9);
    --up: #16c784;
    --down: #ea3943;

    --clr-light: #eeeeee;
    --clr-accent: #0a46e4;
    --clr-border: #d8dee4;

    --foreground: #0d1117;
    --foreground-secondary: #666;
    --background: #f6f8fa;
    --background-secondary: #fff;
}

.dark-theme {
    --clr-accent: #678fff;
    --clr-border: #21262d;

    --foreground: var(--clr-light);
    --foreground-secondary: #cccccc;
    --background: #010409;
    --background-secondary: #0d1117;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border-radius: 4px;
}

body {
    color: var(--foreground);
    background-color: var(--background);
    line-height: 1.6;
    font-size: 0.9rem;
}

@media (min-width: 40em) {
    body {
        font-size: 1.2rem;
    }
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    line-height: 1;
}

h2 {
    text-align: center;
}

p {
    display: inline-block;
}

button {
    color: var(--foreground);
    cursor: pointer;
}

.container {
    text-align: center;
    margin-inline: auto;
    width: 90%;
    max-width: 100rem;
}

.page-title {
    margin: 1em 0;
    font-weight: 600;
}

.error-message {
    color: var(--down);
    margin: 20px 0;
}

input {
    color: var(--foreground);
}
